body {
  font-family: Arial,Helvetica,Geneva,Sans-serif,sans-serif;
  font-size: 0.8em;
}

code {
	font-size: 1.2em;
	font-weight: bold;
}


.example {
	font-style: italic;
}

.right {
	float: right;
}

#all {
	width: 100%;
}

.txtsearch {
	padding: 4px;
	border: 2px solid #ccc;
	border-radius: 5px;
	font-size: 1em;
	width: 76%;
	float: left;
}

#status {
	margin-bottom: 5px;
}

.btnsearch {
	padding: 2px 5px;
	background: #eeeeee;
	margin-left: 5px;
	border-radius: 5px;
	cursor: pointer;
	width: 20%;
	font-size: 1em;
	vertical-align: middle;
}

div #search {
	margin: 15px 0px 10px;
	vertical-align: middle;
}

table {
	border-spacing: 0px;
	width: 100%;
}

table td {
	padding: 3px 1px;
}
table thead {
	background-color: #bbb;
	font-weight: bold;
}
.objrow {
}

.objrow:nth-child(even) {
	background: #cccccc;
}

.objrow:nth-child(even) {
	background: #dddddd;
}

.btnsearch {
}