body {
  font-family: Arial,Helvetica,Geneva,Sans-serif,sans-serif;
  font-size: 0.8em;
}



.right {
	float: right;
}


thead {
	background-color: #bbb;
}
.objrow {
	border: 1px solid black;
}

.objrow:hover {
	color: #004444;
	cursor: pointer;
	text-decoration: underline;
}

.objrow:nth-child(even) {
	background: #cccccc;
}

.objrow:nth-child(even) {
	background: #dddddd;
}
